<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<%- include('header') %>
		<main>
			<h2>Welcome to Travel Planner!</h2>
			<p>Plan your trips and explore the world with ease.</p>
		</main>
		<%- include('footer') %>
</body>

</html>